#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.complete-task-button {
  background-color: transparent;
  color: #00cc12;
  cursor: pointer;
  font-size: 1.2em;
  margin-left: 0.5em;
}

.complete-task-button:hover {
  color: #00ff15;
}
